:root {
    --background-color: #f8f9fa;
    --font-family: "Poppins", Arial, Helvetica, sans-serif;
    --primary-color: rgb(84, 84, 252);
    --hover-color: rgb(71, 71, 210);
    --secondary-text-color: rgba(36, 35, 35, 0.785);
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    font-family: var(--font-family)
}
body p {
    color: var(--secondary-text-color);
}

/* Header Section */
header {
    background-color: white;
    padding: 1.5rem;
    box-shadow: 0 0 2px rgb(74, 74, 74);
}
header h2 {
    font-size: 1.3rem;
}
.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-header button {
    background-color: white;
    border: none;
    font-size: 1.8rem;
}
.nav-menu {
    display: none;
    z-index: 1000;
    background-color: var(--background-color);
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 70%;
}
.nav-menu button {
    background-color: var(--background-color);
    border: none;
    font-size: 1.8rem;
    padding: 5px;
}
.li-container {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 1.2rem;
    margin-top: 9rem;
    font-weight: bold;
}
.nav-menu a {
    text-decoration: none;
    color: black;
}
.desktop-nav {
    display: none;
}

/* Introduction Section */
.introduction {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding: 1rem;
    margin-top: 2rem;
}
.introduction p {
    font-size: 1rem;
}
.introduction .wave-container {
    display: flex;
    align-items: center;
}
.wave-container .wave-emoji {
    font-size: 1.8rem;
    margin-left: 10px;;
}
.introduction h2 {
    font-size: 1.8rem;
}
.introduction-h2 .name {
    display: inline;
    color: var(--primary-color)
}

/* Image Container Section */
@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}
.image-container img {
    width: 75%;
    max-width: 300px;
    height: auto;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    border: 3px solid black;
    animation: morph 8s ease-in-out infinite;
    transition: all is ease-in-out;
}
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
}
.image-container button {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    gap: 0.5rem;
    border: none;
    padding: 0.3rem 0.9rem;
    border-radius: 4px;
}
.image-container button:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}
.image-container a {
    text-decoration: none;
}

/* Toolkit Section */
.toolkit {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 3rem;
    gap: 1rem;
}
.toolkit h3 {
    text-decoration: none;
    font-size: 1rem;
    
    color: black;
}
.toolkit div {
    display: flex;
    gap: 1rem;
}
.toolkit .html-icon {
    background-color: #E44D26;
}
.toolkit .css-icon {
    background-color: #1172B8;
}
.toolkit .js-icon {
    background-color: #F7DF1E;
}
.toolkit img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10px;
}

/* Projects Section */
.projects {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin: 5rem 0.5rem;
}
.projects h3 {
    font-size: 1.5rem;
}
.projects p {
    text-align: center;
    padding: 6rem;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 3px 3px rgb(195, 190, 190);
}

/* About Me Section */
.about-me {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin: 0.3rem 0;
    padding: 2rem;
    background-color: white;
}
.about-me h3 {
    color: white;
    text-align: center;
    background-color: var(--primary-color);
    width: 7rem;
}
.about-me p {
    font-size: 0.9rem;
}

/* Form Section */
.form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 0.9rem;
}
.form h3 {
    font-size: 1.5rem;
}
.form p {
    color: var(--secondary-text-color);
    font-size: 0.9rem;
}
.input-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.input-fields input, textarea {
    width: 100%;
    padding: 5px 5px;
}
.input-fields .message-input {
    padding-top: 8px;
    padding-bottom: 7rem;
}
.form button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
}
.form button:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

/* Footer Secton */
footer {
    background-color: rgb(46, 43, 43);
    text-align: center;
    padding: 2rem;
    font-weight: bold;
}
footer p, a {
    color: white;
}

/* tablet and large phones break point */
@media all and (min-width: 500px) {
    /* Start with nav menu */
    .nav-container {
        padding: 0 2rem;
      }
    
      /* Layout improvements */
      .container {
        max-width: 700px;
        margin: 0 auto;
        padding: 0 2rem;
      }
    
      .introduction-h2 h2 {
        font-size: 2.2rem;
      }
    
      /* About section improvements */
      .about-me {
        border-radius: 8px;
        margin: 2rem 0;
      }
}

@media all and (min-width: 768px) {
    .container {
        max-width: 800px;
        padding-top: 2rem;
    }
    .hero-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;
    }
    .image-container img {
        max-height: 35rem;
        max-width: 35rem;
    }
    .image-container button {
        display: none;
    }
    .introduction-h2 h2 {
        font-size: 2rem;
    }
    .toolkit {
        margin: 4rem;
    }
    .toolkit h3 {
        font-size: 1.2rem;
    }
    .input-fields textarea {
        padding-bottom: 7rem;
    }
}

/* Desktop */
@media all and (min-width: 968px) {
    .container {
        max-width: 900px;
    }
    .nav-container {
        padding: 0.4rem;
        display: flex;
        justify-content: space-between;
    }
    #nav-toggle {
        display: none;
    }
    .nav-menu {
        display: none;
    }
    .desktop-nav {
        display: block;
    }
    .desktop-nav ul {
        display: flex;
    }
    .desktop-nav li {
        list-style-type: none;
    }
    .desktop-nav a{
        color: black;
        text-decoration: none;
        padding: 0 1rem;
        font-weight: 500;
    }
    .desktop-nav a:hover {
        cursor: pointer;
        color: var(--hover-color);
    }
    .toolkit {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        margin: 6rem 0 8rem 0;
    }
    .toolkit h3 {
        font-size: 1.3rem;
        font-weight: 600;
    }
    .toolkit img {
        width: 2.7rem;
        height: 2.7rem;
    }
    .projects p {
        padding: 10rem 0rem;
    }
    .about-me {
        padding: 4rem;
    }
    .about-me p {
        font-size: 1rem;
    }
    .form h3 {
        font-size: 1.5rem;
    }
    .form p {
        font-size: 1rem;
    }
    .input-fields input {
        padding: 8px;
        font-size: 0.9rem;
    }
    .input-fields textarea {
        font-size: 0.9rem;
    }
}

@media all and (min-width: 1100px) {
    .desktop-nav a {
        font-size: 1.1rem;
    }
    .nav-header h2 {
        font-size: 1.5rem;
    }
}